// Переменные для файла
$widthSite: 1200px;
$colorMainSite: #8a2be2;
$gap: 16px;
$border: 1px solid #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: $widthSite;
}

.container__color {
    color: $colorMainSite;
}

.nav {
    display: flex;
    gap: $gap;

    &__link {
        text-decoration: none;
    }
}

.content {
    display: flex;
    gap: $gap;

    &__item {
        width: $widthSite / 4;
        border: $border;
    }
}